/* ------------------------------------------------ */
.content {
  margin: 2rem 0;
}
/* ------------------------------------------------ */
#anim-1 {
  width: 20.5rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  background-color: rgb(13, 233, 159);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}
#anim-1 h1 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 1rem;
  text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef,
    0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
  animation: float-1 3s infinite ease-in-out alternate;
}
@keyframes float-1 {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(-4deg);
  }
}
/* ------------------------------------------------ */
#anim-2 {
  background-color: rgb(13, 233, 222);
  border-radius: 0.3rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 8rem;
  margin-bottom: 2rem;
}
#loading-2 {
  width: 4rem;
  height: 4rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  animation: load-2 2s linear infinite;
}
@keyframes load-2 {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
/* ------------------------------------------------ */
#anim-3 {
  height: 14rem;
  width: 20.5rem;
  border-radius: 0.5rem;
  background: url(./img/bg.jpg);
  background-position: bottom left;
  animation: driving-3 35s linear infinite;
  position: relative;
  margin-bottom: 2rem;
}
@keyframes driving-3 {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}
#anim-3 img:nth-child(1) {
  position: absolute;
  bottom: 1.7rem;
  left: 45%;
  width: 8rem;
  height: 8rem;
}
#anim-3 img:nth-child(2) {
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: 0.8rem;
  left: 14%;
}
/* ------------------------------------------------ */
#anim-4 {
  background-color: rgb(28, 28, 31);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}
#anim-4 h1 {
  color: lightgray;
  padding: 2rem;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
#anim-4 h1 span:before {
  content: "TRANSITIONS";
  animation: word-switch-4 5s infinite;
}
@keyframes word-switch-4 {
  0% {
    content: "TRANSITIONS";
    color: rgb(4, 230, 42);
  }
  50% {
    content: "TRANSFORMS";
    color: rgb(0, 204, 255);
  }
  100% {
    content: "ANIMATIONS";
    color: rgb(229, 255, 0);
  }
}
/* ------------------------------------------------ */
#anim-5 {
  height: 20.5rem;
  background: url(./img/background-5.jpg);
  background-position: 0 0;
  background-size: 150px;
  animation: animated-pattern-5 60s linear infinite;
  margin-bottom: 2rem;
}
@keyframes animated-pattern-5 {
  /* img size: 7500x5000 */
  from {
    background-position: 0 0;
  }
  to {
    background-position: 7500px 5000px;
  }
}
/* ------------------------------------------------ */
#anim-6 {
  background: #272727;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}
#anim-6 ul {
  list-style: none;
  padding: 2rem;
  display: flex;
}
#anim-6 ul li {
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #484848;
  animation: lighting 1.5s linear infinite;
}
#anim-6 ul li:nth-child(1) {
  animation-delay: 0s;
}
#anim-6 ul li:nth-child(2) {
  animation-delay: 0.1s;
}
#anim-6 ul li:nth-child(3) {
  animation-delay: 0.2s;
}
#anim-6 ul li:nth-child(4) {
  animation-delay: 0.3s;
}
#anim-6 ul li:nth-child(5) {
  animation-delay: 0.4s;
}
#anim-6 ul li:nth-child(6) {
  animation-delay: 0.5s;
}
#anim-6 ul li:nth-child(7) {
  animation-delay: 0.6s;
}
#anim-6 ul li:nth-child(8) {
  animation-delay: 0.7s;
}
@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}
/* ------------------------------------------------ */
#anim-7 {
  background-color: #262626;
  border-radius: 0.3rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#heart {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #ff3838;
  transform: rotate(45deg);
  margin-top: 1rem;
  animation: heart-beat 1.4s linear infinite;
}
#heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}
#heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}
@keyframes heart-beat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1);
  }
  30% {
    transform: rotate(45deg) scale(1.4);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  70% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
/* ------------------------------------------------ */
#anim-8 {
  background: #5c5c5c;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}
#anim-8 h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  background: url(./img/bones.png);
  background-size: 1300px;
  -webkit-background-clip: text;
  color: transparent;
  animation: text-background 10s linear infinite;
  padding: 0.3rem 0;
}
@keyframes text-background {
  /* 2560x1600 */
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
/* ------------------------------------------------ */
#anim-9 {
  background: url(./img//castle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  margin-bottom: 2rem;
}
#rain {
  height: 100%;
  background: url(./img/rain.png);
  animation: rain 0.2s linear infinite;
}
@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}
/* ------------------------------------------------ */
#anim-10 {
  background-color: rgb(177, 177, 177);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
#anim-10 div {
  color: rgb(0, 88, 88);
  border: 2px solid rgb(0, 88, 88);
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
  z-index: 0;
}
#anim-10 div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgb(0, 88, 88);
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
}
#anim-10 div:hover:before {
  transform: scale(0.8);
  opacity: 1;
}
#anim-10 div:hover i {
  color: whitesmoke;
}
#anim-10 div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px dashed rgb(0, 88, 88);
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  box-sizing: border-box;
}
#anim-10 div:hover:after {
  transform: scale(0.92);
  opacity: 1;
  animation: border-move 6s linear infinite;
}
@keyframes border-move {
  from {
    transform: scale(0.92) rotate(0deg);
  }
  to {
    transform: scale(0.92) rotate(-360deg);
  }
}
/* ------------------------------------------------ */
#anim-11 {
  background-color: #272727;
  margin-bottom: 2rem;
  border-bottom: 10px solid whitesmoke;
  width: 15rem;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#anim-11 ul {
  display: flex;
}
#anim-11 ul li {
  list-style: none;
  width: 2rem;
  height: 2rem;
  background-color: whitesmoke;
  border-radius: 100%;
  animation: jump 0.8s linear infinite;
}
#anim-11 ul li:nth-child(1) {
  animation-delay: 0.45s;
}
#anim-11 ul li:nth-child(2) {
  animation-delay: 0.6s;
}
#anim-11 ul li:nth-child(3) {
  animation-delay: 0.3s;
}
#anim-11 ul li:nth-child(4) {
  animation-delay: 0s;
}
#anim-11 ul li:nth-child(4) {
  animation-delay: 0.15s;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* ------------------------------------------------ */
#anim-12 {
  margin-bottom: 2rem;
  background-color: rgb(216, 216, 216);
  padding: 1.5rem;
  border-radius: 0.3rem;
}
#anim-12 ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
#anim-12 ul li {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  animation: load-12 3s linear infinite;
}
@keyframes load-12 {
  0% {
    color: red;
    transform: translateX(-50px);
    letter-spacing: 0.5rem;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    letter-spacing: -0.5rem;
    opacity: 1;
  }
  100% {
    color: blue;
    transform: translateX(50px);
    letter-spacing: 0.5rem;
    opacity: 0;
  }
}
#anim-12 ul li:nth-child() {
  animation-delay: 0s;
}
#anim-12 ul li:nth-child() {
  animation-delay: 0s;
}
#anim-12 ul li:nth-child() {
  animation-delay: 0s;
}
#anim-12 ul li:nth-child() {
  animation-delay: 0s;
}
#anim-12 ul li:nth-child() {
  animation-delay: 0s;
}
#anim-12 ul li:nth-child() {
  animation-delay: 0s;
}
/* ------------------------------------------------ */
#anim-13 {
  background: #272727;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}
#anim-13 div {
  background: #58ea00;
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 1.6rem;
  position: relative;
  z-index: 0;
}
#anim-13 div:before,
#anim-13 div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5px solid #58ea00;
  border-radius: 100%;
  z-index: -1;
  animation: call 2s linear infinite;
}
#anim-13 div:after {
  animation-delay: 0.4s;
}
@keyframes call {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  90% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
/* ------------------------------------------------ */
:root {
  --img-1: url(https://picsum.photos/701/300);
  --img-2: url(https://picsum.photos/702/300);
  --img-3: url(https://picsum.photos/703/300);
  --img-4: url(https://picsum.photos/705/300);
}
#anim-14 {
  height: 300px;
  background: var(--img-1);
  animation: slider 15s linear infinite;
  margin-bottom: 2rem;
}
@keyframes slider {
  0% {
    background: var(--img-1);
  }
  20% {
    background: var(--img-1);
  }
  25% {
    background: var(--img-2);
  }
  45% {
    background: var(--img-2);
  }
  50% {
    background: var(--img-3);
  }
  70% {
    background: var(--img-3);
  }
  75% {
    background: var(--img-4);
  }
  100% {
    background: var(--img-4);
  }
}
/* ------------------------------------------------ */
#anim-15 {
  height: 5rem;
  background-color: mediumvioletred;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg-change 10s infinite;
  margin-bottom: 2rem;
}
#anim-15 h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
@keyframes bg-change {
  0% {
    background-color: mediumvioletred;
  }
  20% {
    background-color: deepskyblue;
  }
  40% {
    background-color: mediumslateblue;
  }
  60% {
    background-color: mediumspringgreen;
  }
  80% {
    background-color: mediumturquoise;
  }
  100% {
    background-color: mediumvioletred;
  }
}
/* ------------------------------------------------ */
#anim-16 {
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  border-top: 10px solid white;
  padding: 0 0rem 3rem 0rem;
  margin-bottom: 2rem;
}
#anim-16 span {
  display: block;
  width: 3px;
  height: 200px;
  background-color: white;
  margin: -1px 23px;
  position: relative;
}
#anim-16 span:first-child {
  transform-origin: top;
  animation: left-arm 2s ease-in infinite;
}
#anim-16 span:last-child{
  transform-origin: top;
  animation: right-arm 2s ease-in infinite 1s;
}
#anim-16 span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transform: translateX(-50%);
}
@keyframes left-arm {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes right-arm {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* ------------------------------------------------ */

/* ------------------------------------------------ */
