/* ------------------------------------------------ */
#anim-6 {
  margin-bottom: 5rem;
}
#anim-6 a {
  color: white;
  border: 3px solid white;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}
#anim-6 a:hover {
  color: orange;
  border-color: orange;
  animation: shake-btn-6 0.3s linear 1;
}
@keyframes shake-btn-6 {
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
/* ------------------------------------------------ */
#anim-7 {
  margin-bottom: 4rem;
}
#anim-7 a {
  color: white;
  border: 3px solid white;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}
#anim-7 a:before {
  content: "";
  background: teal;
  position: absolute;
  top: 0;
  left: -4rem;
  width: 4rem;
  height: 100%;
  z-index: -1;
  transform: skew(-25deg);
  animation: moving-7 1.5s linear infinite;
}
@keyframes moving-7 {
  from {
    left: -4rem;
  }
  to {
    left: 100%;
  }
}
/* ------------------------------------------------ */
