@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
/* ------------------------------------------------ */
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}
/* ------------------------------------------------ */
.btn {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--color-btn);
  border: 0.07rem solid var(--color-btn);
  position: relative;
  transition: all 2s;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* ------------------------------------------------ */
#rotating-effect {
  overflow: hidden;
}
#rotating-effect:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-btn-hover);
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 1s;
  transform-origin: bottom left;
  transform: rotate(-90deg);
}
#rotating-effect:hover:before {
  transform: rotate(0deg);
}
#rotating-effect:hover {
  color: var(--color-text-hover);
}
/* ------------------------------------------------ */
#swipe-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-btn-hover);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: all 1s;
}
#swipe-effect:hover:before {
  width: 100%;
}
#swipe-effect:hover {
  color: var(--color-text-hover);
}
/* ------------------------------------------------ */
#window-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-btn-hover);
  width: 100%;
  height: 100%;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}
#window-effect:hover:before {
  transform: rotateX(0deg);
}
#window-effect:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-btn-hover);
  width: 100%;
  height: 100%;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}
#window-effect:hover:after {
  transform: rotateY(0deg);
}
#window-effect:hover {
  color: var(--color-text-hover);
}
/* ------------------------------------------------ */
#zoom-effect {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}
#zoom-effect:hover {
  font-weight: 900;
  letter-spacing: 10px;
}
#zoom-effect:hover {
  color: var(--color-text-hover);
  background-color: var(--color-btn-hover);
}
/* ------------------------------------------------ */
#swipe-content-effect {
  overflow: hidden;
}
#swipe-content-effect:before {
  content: "¡Yeah!";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-btn-hover);
  color: var(--color-text-hover);
  width: 100%;
  height: 100%;
  transition: all 1s;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#swipe-content-effect:hover:before {
  transform: translateY(0);
}
/* ------------------------------------------------ */
#glowing-effect {
  transition: all 1s;
  overflow: hidden;
}
#glowing-effect:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-text-hover);
}
#glowing-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-text-hover);
  width: 100%;
  height: 50%;
  z-index: -1;
  transform: translateX(-100%) rotate(45deg);
  transition: all 1s;
  z-index: 1;
}
#glowing-effect:hover:before {
  transform: translateX(100%) rotate(45deg);
}
/* ------------------------------------------------ */
#two-layers-effect {
  background-color: var(--color-btn-hover);
  color: var(--color-btn-hover);
  overflow: hidden;
}
#two-layers-effect:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  transform: translate(-100%, 100%);
}
#two-layers-effect:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  transform: translate(0, 0);
}
#two-layers-effect:hover:before {
  transform: translate(0, 0);
}
#two-layers-effect:hover:after {
  transform: translate(100%, -100%);
}
/* ------------------------------------------------ */
#scaling-effect {
  overflow: hidden;
}
#scaling-effect:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-btn-hover);
  width: 100%;
  height: 100%;
  color: var(--color-text-hover);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(10);
  opacity: 0;
}
#scaling-effect:hover:before {
  transform: scale(1);
  opacity: 1;
}
/* ------------------------------------------------ */
#circular-swapping-effect {
  overflow: hidden;
}
#circular-swapping-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-btn-hover);
  width: 100%;
  height: 0%;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}
#circular-swapping-effect:hover:before {
  height: 190%;
}
#circular-swapping-effect:hover {
  color: var(--color-text-hover);
}
/* ------------------------------------------------ */
#rotating-layers-effect:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellowgreen;
  color: var(--color-text-hover);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}
#rotating-layers-effect:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-btn-hover);
  color: var(--color-text-hover);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: bottom;
  transition: all 0.5s 0.25s;
}
#rotating-layers-effect:hover:before,
#rotating-layers-effect:hover:after {
  transform: rotateX(0deg);
}
/* ------------------------------------------------ */
#swapping-layers-effect {
  color: transparent;
}
#swapping-layers-effect:before {
  color: var(--color-btn);
  content: "Hover me";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 225, 255, 0.11);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform-origin: center;
}
#swapping-layers-effect:after {
  color: var(--color-text-hover);
  content: "Hover me";
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--color-btn-hover);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform-origin: center;
  opacity: 0;
  transform: scale(0) rotateY(0deg);
}
#swapping-layers-effect:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}
#swapping-layers-effect:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}
/* ------------------------------------------------ */
#three-circles-effect {
  color: var(--color-btn-hover);
  border-color: transparent;
}
#three-circles-effect:before,
#three-circles-effect:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-btn-hover);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}
#three-circles-effect:before {
  left: 25%;
  box-shadow: -100px 0 0 var(--color-btn-hover);
}
#three-circles-effect:after {
  right: 25%;
  box-shadow: 100px 0 0 var(--color-btn-hover);
}
#three-circles-effect:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 var(--color-btn-hover);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
#three-circles-effect:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 var(--color-btn-hover);
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}
#three-circles-effect span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0);
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  background-color: var(--color-btn-hover);
  border-radius: 0.5rem;
  transition: all 0.3s;
  z-index: -1;
}
#three-circles-effect:hover span {
  transform: translateY(-50%) translateX(-50%) scale(1);
  transition-delay: 0.4s;
}
#three-circles-effect:hover {
  color: var(--color-text-hover);
  transition-delay: 0.4s;
}
/* ------------------------------------------------ */
#doors-effect {
  color: whitesmoke;
  border-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#doors-effect:hover {
  color: var(--color-btn);
}
#doors-effect:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: var(--color-btn-hover);
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}
#doors-effect:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 130, 194);
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: bottom;
}
#doors-effect:hover:before {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(80deg);
}
#doors-effect:hover:after {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(-80deg);
}
/* ------------------------------------------------ */
#cubes-effect {
  overflow: hidden;
}
#cubes-effect:before,
#cubes-effect:after,
#cubes-effect span:before,
#cubes-effect span:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-btn-hover);
  transition: all 0.2s;
}
#cubes-effect:before {
  top: -100%;
  left: 0;
  transition-delay: 0.1s;
}
#cubes-effect:after {
  top: 100%;
  left: 25%;
  transition-delay: 0.2s;
}
#cubes-effect span:before {
  top: -100%;
  right: 25%;
  transition-delay: 0.3s;
}
#cubes-effect span:after {
  top: 100%;
  right: 0;
  transition-delay: 0.4s;
}
#cubes-effect:hover:before,
#cubes-effect:hover:after,
#cubes-effect:hover span:before,
#cubes-effect:hover span:after {
  top: 0;
}
#cubes-effect:hover {
  color: var(--color-text-hover);
}
/* ------------------------------------------------ */
#borders-effect {
  border-color: transparent;
}
#borders-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3.5%;
  width: 91%;
  height: 100%;
  border-left: 3px solid red;
  border-right: 3px solid yellow;
  transition: all 1s;
}
#borders-effect:after {
  content: "";
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
  height: 67%;
  border-top: 3px solid red;
  border-bottom: 3px solid yellow;
  transition: all 1s;
}
#borders-effect:hover:before {
  transform: rotateY(180deg);
}
#borders-effect:hover:after {
  transform: rotateX(180deg);
}
/* ------------------------------------------------ */
#corner-growing-effect {
  border-color: transparent;
}
#corner-growing-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12%;
  height: 50%;
  border-top: 5px red solid;
  border-left: 5px red solid;
  border-radius: 0.5rem;
  transition: all 1s;
}
#corner-growing-effect:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12%;
  height: 50%;
  border-bottom: 5px yellow solid;
  border-right: 5px yellow solid;
  border-radius: 0.5rem;
  transition: all 1s;
}
#corner-growing-effect:hover:before,
#corner-growing-effect:hover:after {
  width: 95%;
  height: 95%;
}
/* ------------------------------------------------ */
#letter-rotating-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-btn-hover);
  z-index: -1;
  transition: all 0.8s;
  opacity: 0;
}
#letter-rotating-effect:hover:before {
  transform: rotate(15deg);
  opacity: 1;
}
#letter-rotating-effect span {
  position: relative;
  color: transparent;
}
#letter-rotating-effect span:before {
  content: "H";
  position: absolute;
  color: var(--color-btn);
  transition: all 0.5s;
}
#letter-rotating-effect:hover span:before {
  color: var(--color-text-hover);
  transform: rotate(360deg) translate(-65%, -50%);
  font-size: 5rem;
}
#letter-rotating-effect:hover {
  color: var(--color-text-hover);
}
/* ------------------------------------------------ */
#border-growing-effect {
  border-color: transparent;
  overflow: hidden;
  mix-blend-mode: multiply;
}
#border-growing-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background-color: var(--color-btn-hover);
  transition: all 1s;
  mix-blend-mode: multiply;
}
#border-growing-effect:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background-color: var(--color-btn-hover);
  transition: all 1s;
  mix-blend-mode: multiply;
}
#border-growing-effect span:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-btn-hover);
  transition: all 1s;
  mix-blend-mode: multiply;
}
#border-growing-effect span:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: var(--color-btn-hover);
  transition: all 1s;
  mix-blend-mode: multiply;
}
#border-growing-effect:hover:before {
  left: 0;
}
#border-growing-effect:hover:after {
  right: 0;
}
#border-growing-effect:hover span:before {
  top: 0;
}
#border-growing-effect:hover span:after {
  bottom: 0;
}
#border-growing-effect:hover {
  color: var(--color-text-hover);
  background-color: var(--color-btn-hover);
  transition-delay: 0.5s;
}
/* ------------------------------------------------ */
