/* ------------------------------------------------ */
#card-1 {
  background-color: transparent;
  width: 50%;
  height: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.7s;
}
#card-1 p {
  margin-bottom: 1rem;
  color: rgb(48, 48, 48);
}
#card-1 h2,
#card-1 a {
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(48, 48, 48);
}
#card-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  z-index: -1;
}
#card-1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2%;
  background-color: rgb(225, 65, 172);
  z-index: -1;
  transition: 0.7s;
}
#card-1:hover:after {
  height: 100%;
}
#card-1:hover h2,
#card-1:hover p,
#card-1:hover a {
  color: black;
  transition-delay: 0.35s;
}
/* ------------------------------------------------ */
