/* ------------------------------------------------ */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_span1 */
/* https://www.w3schools.com/css/css_positioning.asp */
.content {
  margin: 2rem 0;
}
/* ------------------------------------------------ */
#card-1 {
  background-color: transparent;
  max-width: 20rem;
  height: 100%;
  padding: 2rem;
  margin-bottom: 5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.7s;
  cursor: pointer;
}
#card-1 p {
  margin-bottom: 1rem;
  color: rgb(48, 48, 48);
}
#card-1 h2,
#card-1 a {
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(48, 48, 48);
}
#card-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  z-index: -1;
}
#card-1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2%;
  background-color: rgba(0, 195, 255, 0.911);
  z-index: -1;
  transition: 0.7s;
}
#card-1:hover:after {
  height: 100%;
}
#card-1:hover h2,
#card-1:hover p,
#card-1:hover a {
  color: black;
  transition-delay: 0.35s;
}
/* ------------------------------------------------ */
#card-2 {
  background-color: azure;
  border-radius: 1rem;
  width: 20rem;
  height: 16.5rem;
  padding: 1.5rem;
  margin-bottom: 10rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
#card-2:hover {
  height: 25rem;
}
#img-box-2 {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3.5rem);
  margin-bottom: 1rem;
  z-index: 1;
}
#img-box-2 img {
  width: 100%;
  border-radius: 0.5rem;
}
#content-2 h2 {
  margin-bottom: 0.5rem;
}
#content-2 {
  text-align: center;
  padding: 0.3rem;
  transition: 0.3s;
  transform: translateY(-8.7rem);
  opacity: 0;
}
#card-2:hover #content-2 {
  opacity: 1;
  transition-delay: 0.1s;
}
/* ------------------------------------------------ */
#card-3 {
  position: relative;
  width: 30rem;
  height: 20rem;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #d41e31, #491f8f);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
  cursor: pointer;
}
#card-3 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 25rem;
  transition: 0.5s;
}
#card-3:hover img {
  height: 28rem;
  left: 80%;
}
#content-3 {
  position: relative;
  width: 38%;
  left: 20%;
  color: whitesmoke;
  text-transform: capitalize;
  transition: 0.5s;
  opacity: 0;
}
#card-3:hover #content-3 {
  left: 5%;
  opacity: 1;
}
#card-3 h2 {
  margin-bottom: 1rem;
}
#card-3 p {
  margin-bottom: 1.5rem;
}
#card-3 a {
  border-radius: 10px;
  background: white;
  color: #111;
  padding: 0.3rem 0.6rem;
}
/* ------------------------------------------------ */
#card-4 {
  position: relative;
  width: 300px;
  height: 400px;
  background: whitesmoke;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 3rem;
}
#card-4:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}
.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face-1 {
  padding: 20px;
  text-align: center;
  background: whitesmoke;
  color: rgb(0, 105, 105);
}
.face-1 h2 {
  margin-top: 80px;
  margin-bottom: 1rem;
}
.face-1 a {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 10px;
  color: rgb(0, 105, 105);
  border: 2px solid rgb(0, 105, 105);
  font-weight: bold;
  transition: 0.3s;
}
.face-2 {
  background: rgb(0, 105, 105);
  color: whitesmoke;
  font-size: 6rem;
  transition: 0.5s;
}
#card-4:hover .face-2 {
  border-radius: 50%;
  top: 40px;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translateX(-50%);
  background-color: transparent;
  border: 2px solid rgb(0, 105, 105);
}
#card-4:hover h2 {
  font-size: 2rem;
  color: rgb(0, 105, 105);
}
#content-4 a:hover {
  background-color: rgb(0, 105, 105);
  color: whitesmoke;
}
/* ------------------------------------------------ */
#card-5 {
  position: relative;
  cursor: pointer;
  width: 20rem;
  margin-bottom: 3rem;
}
#front-face-5 {
  position: relative;
  width: 20rem;
  height: 15rem;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transition: 0.5s;
  transform: translateY(7.5rem);
  z-index: 1;
}
#card-5:hover #front-face-5 {
  transform: translateY(0);
  background-color: #ff0057;
}
#back-face-5 {
  position: relative;
  width: 20rem;
  height: 15rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  transition: 0.5s;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-7.5rem);
}
#card-5:hover #back-face-5 {
  transform: translateY(0);
}
#img-box-5 {
  opacity: 0.2;
  transition: 0.5s;
}
#card-5:hover #img-box-5 {
  opacity: 1;
}
#img-box-5 img {
  width: 100%;
}
#img-box-5 h3 {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
}
#content-5 a {
  display: inline-block;
  margin-top: 1rem;
  color: #777;
  border: 2px solid #777;
  border-radius: 0.3rem;
  padding: 0.3rem;
  text-transform: capitalize;
}
#content-5 a:hover {
  background-color: #777;
  color: white;
}
/* ------------------------------------------------ */
#card-6 {
  position: relative;
  width: 320px;
  height: 350px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-left: 3rem;
  margin-bottom: 5rem;
}
#card-6:before,
#card-6:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  transition: 0.5s;
  z-index: -1;
}
#card-6:hover:before {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  transform: rotate(20deg);
}
#card-6:hover:after {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(10deg);
}
#img-box-6 {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: #222;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}
#img-box-6 img {
  width: 100%;
  transform: scale(1.2) translateY(1.5rem);
  transition: 0.5s;
  filter: opacity(0.5);
}
#card-6:hover img {
  transform: translateY(0);
  filter: opacity(0.6);
}
#card-6:hover #img-box-6 {
  bottom: 80px;
}
#details-6 {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}
#details-6 h2 {
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}
#details-6 h2 span {
  font-weight: 500;
  font-size: 16px;
  color: rgb(21, 2, 197);
}
/* ------------------------------------------------ */
#card-7 {
  position: relative;
  width: 20rem;
  height: 28rem;
  margin-bottom: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  cursor: pointer;
}
#img-box-7 img {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#content-7 {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.575);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  text-align: center;
  transform: translateY(86%) translateX(-50%);
  transition: 0.5s;
  border-radius: 10rem;
}
#card-7:hover #content-7 {
  width: 100%;
  border-radius: 0;
  transform: translate(0) translateX(-50%);
  padding: 2rem;
}
#card-7:hover img {
  opacity: 0.2;
}
#content-7 h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#content-7 p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  transition: 0.5s;
  opacity: 0;
}
#content-7 a {
  color: black;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  opacity: 0;
}
#content-7 a:hover {
  background: black;
  color: white;
}
#card-7:hover p,
#card-7:hover a {
  opacity: 1;
  transition-delay: 0.3s;
}
/* ------------------------------------------------ */
