/* ------------------------------------------------ */
section {
  margin: 2rem 0;
}
/* ------------------------------------------------ */
img {
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------ */
.img-container {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
}
/* ------------------------------------------------ */
#effect-1 {
  overflow: hidden;
}
#effect-1 img {
  transition: all 1s;
}
#caption-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 19, 19, 0.651);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  opacity: 0;
  transition: all 0.5s;
}
#caption-1 h1 {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 1.5rem;
}
#caption-1 p {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: whitesmoke;
  text-align: center;
}
#effect-1:hover #caption-1 {
  opacity: 1;
}
#effect-1:hover img {
  transform: scale(1.3) rotate(15deg);
}
/* ------------------------------------------------ */
