/* Search Animatable CSS properties */
/* ------------------------------------------------ */
.btn {
  border: 0.1rem solid var(--color-btn);
  color: var(--color-btn);
  width: 10rem;
  height: 4rem;
  line-height: 3.8rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
}
/* ------------------------------------------------ */
.backg {
  /* -- all = writte all the propertys that we want to change
    transition-property: background-color color width;
    transition-property: all; */
  /* -- trasnsition: property duration timing-func delay 
    transition: all 2s ease-in-out 1s;*/
  /* -- And we can separate the propertys by a , */
  transition: all 3s ease-in-out 1s, color 2s ease 4s;
}
.backg:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-text-hover);
  width: 13rem;
}
/* ------------------------------------------------ */
.backg-delay {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 2s;
}
.backg-delay:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-text-hover);
}
/* ------------------------------------------------ */
#ease {
  transition-timing-function: ease;
}
#linear {
  transition-timing-function: linear;
}
#ease-in {
  transition-timing-function: ease-in;
}
#ease-out {
  transition-timing-function: ease-out;
}
#ease-in-out {
  transition-timing-function: ease-in-out;
}
.move {
  transition-property: all;
  transition-duration: 3s;
}
.move:hover {
  transform: translate(400px, 0);
}
/* ------------------------------------------------ */
